services:
    - Wame\ChameleonComponentsDoctrine\Loader\DoctrineRelationLoader

    # Registers
    RelationsRegister:
        class: Wame\ChameleonComponentsDoctrine\Registers\RelationsRegister
        setup:
            - @Wame\ChameleonComponentsDoctrine\Loader\DoctrineRelationLoader::initialize(@RelationsRegister)

    - Wame\ChameleonComponentsDoctrine\Registers\Types\QueryTypeSelect
    - Wame\ChameleonComponentsDoctrine\Registers\Types\QueryTypeCountList

    DoctrineQueryTypesRegister:
        class: Wame\ChameleonComponentsDoctrine\Registers\QueryTypesRegister
        setup:
            - add(@Wame\ChameleonComponentsDoctrine\Registers\Types\QueryTypeSelect, 'select')
            - add(@Wame\ChameleonComponentsDoctrine\Registers\Types\QueryTypeCountList, 'countList')